@using TennisLibrary.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TennisWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TennisWebsite.styles.css" asp-append-version="true" />
</head>
<body style="background-color:rgb(200,200,200)">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">TennisWebsite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CourtPages/ShowCourts">Baner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Blogs/ShowBlogPosts">Blog</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Pages/Bookings/GetBookings">Mine bookinger</a>
                        </li>
                        @if(Context.Session.GetInt32("AccessLevel") >= (int)AccessLevel.Admin)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin sider</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-page="/Users/ShowAllUsers">Bruger liste</a></li>
                                    <li><a class="dropdown-item" asp-page="/BookingPages/GetBookings">Bookinger</a></li>
                                    <li><a class="dropdown-item" asp-page="/Events/AddEvent">Opret Event</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav me-auto">
                        @if (!string.IsNullOrEmpty(Context.Session.GetString("Username")))
                        {
                            <a asp-page="users/userProfile" class="btn btn-primary text-decoration-none">
                                @Context.Session.GetString("Username")</a>
                        }
                        else
                        {
                            <a asp-page="/users/login" class="btn btn-primary text-decoration-none">Log In</a>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; 2025 - TennisWebsite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@section scripts
{
    <script>
        async function searchFunc(query, dropDownID, displayFieldID, inputFieldID) {
            document.getElementById(dropDownID).classList.add("dlshow");
            const response = await fetch(`?handler=Update&query=${query}`); //Apparently this is a lot of data, not just my data.
            const valuePairs = await response.json(); //This is my data, as transferred? Returned? with return JsonResult([my list of things here])
            updateDropDown(valuePairs, dropDownID, displayFieldID, inputFieldID);
        }

        function updateDropDown(valuePairs, dropDownID, displayFieldID, inputFieldID) {
            const dropdown = document.getElementById(dropDownID); //Refer to the table in the actual html
            dropdown.innerHTML = ''; // Clear existing rows in the table

            valuePairs.forEach(item => {
                const option = document.createElement('div');
                option.onclick = function() {
                    selectItem(item, dropDownID, displayFieldID, inputFieldID)
                }
                option.innerHTML = `
                    ${item.dlString}
                    <br />
                    <i>#${item.data.username}</i>
                    <br />
                `;
                dropdown.appendChild(option);
            });
        }

        function selectItem(item, dropDownID, displayFieldID, inputFieldID) {
            document.getElementById(displayFieldID).value = item.dlString;
            document.getElementById(inputFieldID).value = item.data.username;
            openDropdown.classList.remove(dropDownID);
        }

        window.onclick = function(event) {
            if(!event.target.matches('dlinput')) {
                var dropdowns = document.getElementsByClassName("dldropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if(openDropdown.classList.contains('dlshow')) {
                        openDropdown.classList.remove('dlshow');
                    }
                }
            }
        }
    </script>
}