@page
@using TennisLibrary.Models;
@model TennisWebsite.Pages.Blogs.AddBlogPostsModel
@{
    ViewData["Title"] = "AddBlogPosts";
}

<h1>New Post</h1>

<form method="post">
    <div class="container p-4 Container-Background">
        <div style="width: 30vw">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Forfatter</label>
                <input asp-for="@Model.Author" class="form-control" required="true" readonly="true" />
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Titel</label>
                <input asp-for="@Model.Title" class="form-control" required="false" />
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Indhold</label>
                    <textarea asp-for="@Model.Body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Dato</label>
                <input asp-for="@Model.Date" class="form-control" readonly="true" />
            </div>
            <div class="formgroup">
                <input type="submit" value="Post" class="btn btn-primary mt-2" />
            </div>
        </div>
    </div>
</form>
