@page
@model TennisWebsite.Pages.BookingPages.CreateBookingModel;
@using TennisLibrary.Models;
@using TennisLibrary.Helpers;
@{
    ViewData["Title"] = "Create booking";
}
<div class="container p-4 Container-Background">
    <div class="w-75">
        <form method="post" asp-page-handler="Create">

            @if (Model.Admin == false)
            {
                <div class="mb-3">
                    <label asp-for="player1" class="control-label"> Spiller 1 </label>
                    <input asp-for="player1" class="form-control" readonly required />
                    <span asp-validation-for="player1" class="text-danger"></span>
                </div>

                <div class="dldropdown">
                    <label asp-for="player2" class="control-label"> Spiller2 </label>
                    <input class="dlinput form-control" id="player2QueryField" type="text" oninput="searchFunc(player2QueryField.value, 'player2DropDown', 'player2QueryField', 'player2UsernameField')" />
                    <input type="hidden" id="player2UsernameField" asp-for="player2" />
                    <div id="player2DropDown" class="dldropdown-content">
                    </div>
                    <span asp-validation-for="player2" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="booking.Court.Name" class="control-label"> Bane </label>
                    <input asp-for="booking.Court.Name" class="form-control" readonly required />
                </div>

                <div class="mb-3">
                    <label asp-for="booking.Start" class="control-label"> Start tid </label>
                    <input asp-for="booking.Start" class="form-control" readonly required />
                </div>

                <div class="mb-3">
                    <label asp-for="booking.End" class="control-label"> Slut tid </label>
                    <input asp-for="booking.End" class="form-control" readonly required />
                </div>
                <div class="mb-3">
                    <input asp-for="booking.Type" class="form-control" readonly hidden/>
                </div>
            }
            
            @if (Model.Admin)
            {
                <div class="dldropdown">
                    <label asp-for="booking.Player1" class="control-label"> Spiller 1</label>
                    <br />
                    <input class="dlinput" id="player1QueryField" type="text" oninput="searchFunc(player1QueryField.value, 'player1DropDown', 'player1QueryField', 'player1UsernameField')" required />
                    <input type="hidden" id="player1UsernameField" asp-for="player1"/>

                    <div id="player1DropDown" class="dldropdown-content">
                    </div>
                    <span asp-validation-for="player1" class="text-danger"></span>
                </div>
                <br />
                <div class="dldropdown">
                    <label asp-for="booking.Player2" class="control-label"> Spiller 2</label>
                    <br />
                    <input class="dlinput" id="player2QueryField" type="text" oninput="searchFunc(player2QueryField.value, 'player2DropDown', 'player2QueryField', 'player2UsernameField')" required />
                    <input type="hidden" id="player2UsernameField" asp-for="player2" />

                    <div id="player2DropDown" class="dldropdown-content">
                    </div>
                    <span asp-validation-for="player2" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="booking.Type" class="control-label">Booking type</label>
                    <select class="form-select" aria-label="Default select example" asp-for="booking.Court.Name">
                        <option selected>Admin</option>
                        <option>Booking</option>
                        <option>Træning</option>
                        <option>Turnering</option>
                        <option>Event</option>
                    </select>
                    <span asp-validation-for="booking.Type" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="booking.Court.Name" class="control-label"> Bane</label>
                    <select class="form-select" aria-label="Default select example" asp-for="booking.Court.Name">
                        @foreach (Court court in Model.Courts)
                        {
                            if (court == Model.booking.Court) {
                                <option selected>@court.Name</option>
                            }
                            else 
                            {
                                <option>@court.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="booking.Court.Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="booking.Start" class="control-label"> Start tid </label>
                    <input asp-for="booking.Start" class="form-control" required />
                    <span asp-validation-for="booking.Start" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="booking.End" class="control-label"> Slut tid </label>
                    <input asp-for="booking.End" class="form-control" required />
                    <span asp-validation-for="booking.End" class="text-danger"></span>
                </div>
            }

            <button type="submit" class="btn btn-info">Opret booking</button>


            <div class="modal show" id="ModalError1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        </div>
                        <div class="modal-body">
                            For at lave en admin booking skal du være logget ind som en adminstrator.
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="button">
                                <a class="btn btn-danger" asp-page="/index">Gå videre</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal show" id="ModalError2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        </div>
                        <div class="modal-body">
                            For at lave en booking skal du være logget ind.
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="button">
                                <a class="btn btn-danger" asp-page="/Users/Login">Gå videre</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    if (@Model.Error == 1)
    {
        document.addEventListener("DOMContentLoaded", function () {
            var myModal = new bootstrap.Modal(document.getElementById("ModalError1"));
            myModal.show();
        });
    }

    if (@Model.Error == 2)
    {
        document.addEventListener("DOMContentLoaded", function () {
            var myModal = new bootstrap.Modal(document.getElementById("ModalError2"));
            myModal.show();
        });
    }
</script>

@section scripts
{
    <script>
        async function searchFunc(query, dropDownID, displayFieldID, inputFieldID) {
            document.getElementById(dropDownID).classList.add("dlshow");
            const response = await fetch(`?handler=Update&query=${query}`); //Apparently this is a lot of data, not just my data.
            const valuePairs = await response.json(); //This is my data, as transferred? Returned? with return JsonResult([my list of things here])
            updateDropDown(valuePairs, dropDownID, displayFieldID, inputFieldID);
        }

        function updateDropDown(valuePairs, dropDownID, displayFieldID, inputFieldID) {
            const dropdown = document.getElementById(dropDownID); //Refer to the table in the actual html
            dropdown.innerHTML = ''; // Clear existing rows in the table

            valuePairs.forEach(item => {
                const option = document.createElement('div');
                option.onclick = function () {
                    selectItem(item, dropDownID, displayFieldID, inputFieldID)
                }
                option.innerHTML = `
                            ${item.dlString}
                            <br />
                            <i>#${item.data.username}</i>
                            <br />
                        `;
                dropdown.appendChild(option);
            });
        }

        function selectItem(item, dropDownID, displayFieldID, inputFieldID) {
            document.getElementById(displayFieldID).value = item.dlString + "(" + item.data.username + ")";
            document.getElementById(inputFieldID).value = item.data.username;
            openDropdown.classList.remove(dropDownID);
        }

        window.onclick = function (event) {
            if (!event.target.matches('dlinput')) {
                var dropdowns = document.getElementsByClassName("dldropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('dlshow')) {
                        openDropdown.classList.remove('dlshow');
                    }
                }
            }
        }
    </script>
}