@page
@model TennisWebsite.Pages.BookingPages.BookingModel
@{
    ViewData["Title"] = "Create booking";
}


<form method="post">
    <input class="form-control" type="text" value="@HttpContext.Session.GetString("Username")" aria-label="Spiller 1" disabled readonly />
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Player 2</label>
        <input type ="text" class="form-control" id="exampleFormControlInput1", placeholder="Indtast venligst brugernavnet på din medspiller." />
    </div>
    <input class="form-control" type="text" value="@Model.booking.Court.Name" aria-label="Bane" disabled readonly />
    <input class="form-control" type="text" value="@Model.booking.Start" aria-label="Start tid" disabled readonly />
    <input class="form-control" type="text" value="@Model.booking.End" aria-label="Slut tid" disabled readonly />
</form>