@page
@model TennisWebsite.Pages.BookingPages.GetBookingsModel
@{
    ViewData["Title"] = "Show Bookings";
}

<div class="container p-4 Container-Background">
    <H1>
         @Model.bookings.Count();
    </H1>
</div>
